<!-- Elements added to main will be displayed on all pages -->
{% extends "base.html" %}

{% block extrahead %}
<meta name="description" content="Instancio is a test data generation library for Java. Its goals are to automate data setup, make tests more concise, and reduce test maintenance effort.">
{% endblock %}

<!-- Google Tag Manager -->
{% block libs %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MYZQVSS3LL"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-MYZQVSS3LL');
</script>
{% endblock %}

<!-- Announcement bar -->
{% block announce %}
What's cooking: support for populating existing object instances.
<a href="https://github.com/instancio/instancio/issues/1252">Feedback wanted (#1252)</a>
{% endblock %}