<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <import class="ch.qos.logback.core.FileAppender"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%t] %-5level %logger{16}.%M:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>instancio.log</file>
        <append>false</append>
        <encoder>
            <pattern>[%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.instancio" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>