site_name: Instancio
site_url: https://www.instancio.org
repo_url: https://github.com/instancio/instancio
repo_name: instancio
latest_release: 5.5.1
copyright: '&copy; Instancio 2022-2026'
edit_uri: ''  #disables edit button

theme:
  name: material
  custom_dir: docs/overrides
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: green
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: green
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - announce.dismiss
    - content.code.annotate
    - content.code.copy
    - icons
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.expand
    - toc.integrate
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.ico

extra_css:
  - stylesheets/extra.css

plugins:
  - autolinks
  - macros:
      module_name: docs/macros
  - minify_html:
      minify_css: true
  - search

markdown_extensions:
  - abbr
  - attr_list
  - toc:
      permalink: True
      toc_depth: 3
  - pymdownx.inlinehilite
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true 
  - admonition

nav:
    - 'Home': 'index.md'
    - 'Getting Started': 'getting-started.md'
    - 'User Guide': 'user-guide.md'
    - 'Building': 'building.md'
    - 'Articles': 'articles.md'
