name: "Deploy Snapshots"
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    name: "Deploy"
    steps:
      - uses: actions/checkout@v4
      - name: "Set up Maven Central Repository"
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: 21
          server-id: sonatype-snapshots
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
      - name: "Deploy snapshots"
        run: mvn -Pdeploy-test-dependencies -B deploy --no-transfer-progress
        env:
          MAVEN_USERNAME: ${{ secrets.OSS_SONATYPE_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSS_SONATYPE_PASSWORD }}
  verify:
    needs: deploy
    strategy:
      matrix:
        java: [ 8, 11, 17, 21 ]
    runs-on: ubuntu-latest
    name: "Verify snapshots JDK ${{ matrix.java }}"
    steps:
      - uses: actions/checkout@v4
      - name: "Set up JDK"
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: ${{ matrix.java }}
      - name: "Test"
        # use the deployed snapshot of instancio-test-support
        # because it cannot be compiled with Java 8
        run: cd instancio-tests && mvn -B -pl -instancio-test-support verify
